<%
if (theme.index.slogan.enable) {
  page.subtitle = theme.index.slogan.text || config.subtitle || ''
}
page.banner_img = theme.index.banner_img
page.banner_img_height = theme.index.banner_img_height
page.banner_mask_alpha = theme.index.banner_mask_alpha
%>

<% page.posts.each(function (post) { %>
  <div class="row mx-auto index-card">
    <% var post_url = url_for(post.path), index_img = post.index_img || theme.index.post_default_img %>

    <% if(index_img) { %>
      <div class="col-12 col-md-4 m-auto index-img">
        <a href="<%- post_url %>" target="<%- theme.index.post_url_target %>">
          <img src="<%- url_for(index_img) %>" alt="<%= post.title %>">
        </a>
      </div>
    <% } %>
    <div class="col-12 col-md-<%= index_img ? '8' : '12' %> mx-auto index-info">
      <div style="display: flex;justify-content: space-between;">
        <a class="index-header" href="<%- post_url %>"><%= post.title %></a>
        <% if(post.top) {%>
          <a class="post-top">
            <svg t="1627814664489" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11470" width="200" height="200"><path d="M337.706813 840.594111l-2.559748 1.983804-8.575153 6.271381-6.207387 4.543551-216.29864 157.744423c-11.262888 8.447166-24.701561 12.86273-38.524196 12.86273-17.150306 0-33.660676-6.847324-46.139444-19.326092a64.889592 64.889592 0 0 1-6.527355-85.111595l198.060441-268.133522L59.078327 499.379806a65.977485 65.977485 0 0 1-9.855027-79.864113 188.141421 188.141421 0 0 1 63.993681-59.898085c47.547305-28.029232 106.165516-36.924354 173.614856-20.094016l5.439462 0.511949 1.919811 0.191982c9.21509 0.767924 14.718547 1.407861 21.437883 2.431759 25.533479 4.159589 76.85641-19.134111 121.779974-57.402331 42.811772-36.476398 70.137074-78.58424 70.137074-104.437687 0-4.799526-0.063994-9.855027-0.255975-16.958325l-0.063993-4.991507c-2.367766-56.762395 3.839621-89.655147 35.580486-121.460006a126.451513 126.451513 0 0 1 169.775235-8.767134l3.64764 3.327671c18.238199 17.918231 258.086514 257.446577 270.3733 269.861351 23.99763 23.99763 37.244322 55.994471 37.308316 89.911121 0 33.916651-13.182698 65.913491-37.116335 89.911122-31.740866 31.740866-64.697611 37.820265-121.587993 35.388505h-3.007703l-9.407071-0.191981-9.599052-0.127987c-24.50958 0-56.442426 18.750148-88.567254 53.754691-43.323722 47.099349-75.128581 113.140827-72.760815 141.042073l3.13569 27.837251c16.766344 68.089276 7.679242 125.747582-20.34999 172.782937-17.854237 30.013036-39.868063 50.619001-59.194155 62.841795-26.237409 15.806439-59.130161 11.966818-80.568044-9.407071L373.543274 814.100728l-35.836461 26.493383z m235.176776 57.594313c30.588979-25.341498 49.979065-70.329055 32.380802-141.937984-0.639937-3.007703-3.007703-22.589769-4.479557-36.924353-4.607545-54.650603 35.708474-140.786097 93.814735-204.075848 45.051551-48.955166 95.094609-79.992101 148.657321-79.992101 6.527355 0 12.478768 0 24.509579 0.319969 36.092436 1.535848 50.810982-0.959905 61.36994-11.582857a45.563501 45.563501 0 0 0-0.127987-64.441636c-22.589769-22.653763-264.10192-263.845945-268.773459-268.45349a44.795576 44.795576 0 0 0-59.706104 3.967608c-10.750938 10.750938-13.246692 25.405491-11.774837 61.049971 0.255975 11.262888 0.383962 17.982224 0.383962 24.765555 0 52.282837-37.244322 113.908752-98.806243 166.447563-60.985978 51.962869-132.466919 84.727633-187.693465 75.896505a182.38199 182.38199 0 0 0-15.422477-1.727829 114.292714 114.292714 0 0 1-8.191191-0.895912 36.988347 36.988347 0 0 1-10.238989-1.663835c-71.80091-17.72625-117.556391 2.175785-142.641914 32.892752l167.279481 166.767531a40.955956 40.955956 0 0 1 3.647639 53.498717c-91.702944 115.188625-152.560935 196.908555-178.286394 237.288568l7.871223-5.375469c29.117125-20.477978 72.440846-54.906578 129.715191-103.349794l-0.639937-0.767925 13.438673-10.238988a5720.395111 5720.395111 0 0 1 73.464745-55.226547l3.967608-3.007703c7.039305-5.119494 13.246692-8.319178 21.693858-10.047008a42.42781 42.42781 0 0 1 38.588189 10.558958c4.607545 4.287577 11.326881 11.070907 20.094016 20.285996l145.905592 145.969586z" fill="#000000" p-id="11471"></path></svg>
          </a>
        <% } %>
      </div>
      <div class="index-btm post-metas">
        <% if(theme.index.post_meta.date ) { %>
          <div class="post-meta mr-3">
            <svg t="1627805061017" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11096" width="200" height="200"><path d="M851.94 959.67H172.06c-56.26 0-102.34-46.08-102.34-102.34V252.86c0-56.25 46.08-102.34 102.34-102.34h679.88c56.26 0 102.34 46.09 102.34 102.34v604.47c0 56.85-46.09 102.34-102.34 102.34z" fill="#0077F1" p-id="11097"></path><path d="M172.06 211.56c-22.75 0-41.3 18.56-41.3 41.3v604.47c0 22.75 18.55 41.3 41.3 41.3h679.88c22.74 0 41.3-18.55 41.3-41.3V252.86c0-22.74-18.56-41.3-41.3-41.3H172.06z" fill="#ACD8FF" p-id="11098"></path><path d="M325.27 292.36c-16.76 0-30.52-13.77-30.52-30.52V94.86c0-16.76 13.77-30.52 30.52-30.52 16.76 0 30.52 13.77 30.52 30.52v166.98c0 16.75-13.76 30.52-30.52 30.52z m373.45 0c-16.76 0-30.52-13.77-30.52-30.52V94.86c0-16.76 13.76-30.52 30.52-30.52s30.52 13.77 30.52 30.52v166.98c0.01 16.75-13.76 30.52-30.52 30.52z m72.42 258.54H513.19c-16.76 0-30.52-13.76-30.52-30.52 0-16.76 13.77-30.52 30.52-30.52h257.95c16.76 0 30.52 13.76 30.52 30.52 0.01 16.76-13.76 30.52-30.52 30.52z m0 183.74H312.7c-16.75 0-30.52-13.77-30.52-30.52 0-16.76 13.77-30.52 30.52-30.52h458.45c16.76 0 30.52 13.77 30.52 30.52s-13.77 30.52-30.53 30.52z m0 0" fill="#0077F1" p-id="11099"></path></svg>&nbsp;<%- date(post.date, config.date_format) %>
          </div>
        <% } %>
        <% if(theme.index.post_meta.category && post.categories.length) { %>
          <div class="post-meta mr-3">
            <svg t="1627804913980" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5264" width="200" height="200"><path d="M114.944 662.528a27.80672 27.80672 0 0 1-27.904-27.70432V166.08256A89.6768 89.6768 0 0 1 176.90624 76.8h203.93984a89.67168 89.67168 0 0 1 89.85088 89.28256v174.32576a27.89888 27.89888 0 0 1-55.808 0V166.08256a33.99168 33.99168 0 0 0-34.05824-33.8432H176.90624a33.99168 33.99168 0 0 0-34.06336 33.8432v468.74112a27.80672 27.80672 0 0 1-27.89888 27.70432z" fill="#FD9A16" p-id="5265"></path><path d="M867.01056 570.49088h-125.90592l96.31232-96.3328a89.43104 89.43104 0 0 0 0-126.464l-143.49312-143.52896a89.47712 89.47712 0 0 0-126.464 0l-364.11904 364.23168c-0.65024 0.65024-1.13664 1.39776-1.71008 2.09408h-34.39104A80.31744 80.31744 0 0 0 87.04 650.72128v221.3632A80.31744 80.31744 0 0 0 167.23968 952.32h699.77088a80.31744 80.31744 0 0 0 80.21504-80.2304v-221.36832a80.31744 80.31744 0 0 0-80.21504-80.2304zM606.72 243.42528a33.94048 33.94048 0 0 1 47.93856 0l143.488 143.53408a33.8944 33.8944 0 0 1 0 47.93856l-135.55712 135.59808H279.75168z m284.97408 628.6592a24.7296 24.7296 0 0 1-24.69888 24.704H167.23968a24.72448 24.72448 0 0 1-24.69888-24.704v-221.3632a24.72448 24.72448 0 0 1 24.69888-24.704h699.77088a24.7296 24.7296 0 0 1 24.69888 24.704v221.3632zM275.1744 717.89568a46.22848 46.22848 0 1 0 46.21312 46.22848 46.21824 46.21824 0 0 0-46.21312-46.22848z" fill="#2966C1" p-id="5266"></path></svg>
            <% var number = 0 %>
            <% post.categories.each(function(cate){ %>
              <% number += 1 %>
              <% if(number > 1) { %>
                <svg t="1627804792949" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="995" width="200" height="200"><path d="M213.333333 554.666667h128a42.666667 42.666667 0 0 0 0-85.333334H213.333333a85.333333 85.333333 0 0 1-85.333333-85.333333V78.762667a21.333333 21.333333 0 0 1 31.616-18.688l787.712 433.237333a21.333333 21.333333 0 0 1 0 37.376L159.616 963.925333A21.333333 21.333333 0 0 1 128 945.237333V640a85.333333 85.333333 0 0 1 85.333333-85.333333z" fill="#4E95F8" p-id="996"></path></svg>
              <% } %>
              <a href="<%- url_for(cate.path) %>"><%= cate.name %></a>
            <% }) %>
          </div>
        <% } %>
      </div>

      <a href="<%- post_url %>" class="index-excerpt">
        <% if(post.descripte) { %>
          <div>
            <%= post.descripte %>
          </div>
        <% } %>
      </a>

      <div class="index-btm post-metas">
        <!-- <% if(theme.index.post_meta.date ) { %>
          <div class="post-meta mr-3">
            <i class="iconfont icon-date"></i>&nbsp;<%- date(post.date, config.date_format) %>
          </div>
        <% } %>
        <% if(theme.index.post_meta.category && post.categories.length) { %>
          <div class="post-meta mr-3">
            <i class="iconfont icon-category"></i>
            <% post.categories.each(function(cate){ %>
              <a href="<%- url_for(cate.path) %>"><%= cate.name %></a>
            <% }) %>
          </div>
        <% } %> -->
        <% if(theme.index.post_meta.tag && post.tags.length) { %>
          <div class="post-meta mr-3 post-tags">

            <% post.tags.each(function(tag){ %>              
              <svg t="1627804859140" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3627" width="200" height="200"><path d="M209.1 651.9c-13.3 0-24.2-10.8-24.2-24.2v-80.5c0-13.3 10.8-24.2 24.2-24.2s24.2 10.8 24.2 24.2v80.5c0 13.4-10.8 24.2-24.2 24.2z" fill="#3778FF" p-id="3628"></path><path d="M305.8 795.1l188.1-200.4c9.1-9.8 26.1-9.8 35.2 0l47.3 50.4 31.7-33.8 181.5 193.4V112.2H305.8v682.9z" fill="#91B4FF" p-id="3629"></path><path d="M813.2 957.5c-6.6 0-13-2.7-17.6-7.6L510.9 646.5 226.1 949.9c-6.8 7.2-17.2 9.6-26.5 5.9-9.2-3.6-15.3-12.6-15.3-22.5V703.6c0-13.3 10.8-24.2 24.2-24.2s24.2 10.8 24.2 24.2v168.7l260.6-277.6c9.1-9.8 26.1-9.8 35.2 0l260.6 277.6V112.2H232.7V456c0 13.3-10.8 24.2-24.2 24.2s-24.2-10.8-24.2-24.2V88c0-13.3 10.8-24.2 24.2-24.2h604.7c13.3 0 24.2 10.8 24.2 24.2v845.3c0 9.9-6.1 18.8-15.3 22.5-2.9 1.2-5.9 1.7-8.9 1.7z" fill="#3778FF" p-id="3630"></path></svg>
              <p class="post-eachtag">
                <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
              </p>
            <% }) %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
<% }) %>

<%- partial('_partial/paginator') %>
